{% extends "base.html" %}


{% block title %} Home {% endblock %}


{% block body %}
<h2 style="text-align: center;margin:50px;"> HOME PAGE </h2>

<!-- ──────────────────────────────────  Holdings  ────────────────────────────────── -->
<div class="card mx-auto my-5 text-center" style="width: 80%;">
    <h5 class="card-title">Holding</h5>
</div>

<div class="card text-center m-5">
  <div class="card-body">  
    <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Symbol</th>
      <th scope="col">Description</th>
      <th scope="col">Current price</th>
      <th scope="col">Today's Change</th>
      <th scope="col">Purchase Price</th>
      <th scope="col">Qty</th>
      <th scope="col">Total value</th>
      <th scope="col">Total Gain/Loss</th>
      <th scope="col">Trade actions</th>
      
    </tr>
  </thead>
  <tbody>
  {% for stock in stocks %}
    <tr>
      <th scope="row"> {{ loop.index }} </th>
      <td> {{stock.stock_symbol}} </td>
      <td> {{stock.stock_name}} </td>
      <td> {{stock.stock_symbol}} </td>
      <td> {{stock.stock_symbol}} </td>
      <td> {{stock.buy_price_of_user}} </td>
      <td> {{stock.qty}} </td>
      <td> {{stock.total_value}} </td>
      <td>
      <a class="btn btn-warning"> Buy More </a>
      <a class="btn btn-warning"> Sell </a>  
      </td>
      
    </tr>
{% endfor %}
    
  </tbody>
</table>
    
  </div>
  
</div>
{% endblock %}