{% extends "base.html" %}


{% block title %} Leaderboard {% endblock %}


{% block body %}
<h2 style="text-align: center; margin-top:110px; margin-bottom: 20px;">LEADERBOARD</h2>

<div class="card text-center m-5 ">
  <div class="card-body">  
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Rank</th>
          <th scope="col">Display Name</th>
          <th scope="col">Total Value</th>
          <th scope="col">Today's Change</th>
        </tr>
      </thead>
      <tbody>
        {% for item in account_balance %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ item.display_name }}</td>
          <td>${{ "{:,.2f}".format(item.total_value) }}</td>
          <td class="{% if item.todays_change > 0 %}text-success{% elif item.todays_change < 0 %}text-danger{% else %}text-muted{% endif %}">
  ${{ "{:,.2f}".format(item.todays_change) }} 
  ({{ "{:.2f}".format(item.change_percent) }}%)
</td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
    
  </div>
  
</div>
{% endblock %}