{% extends "base.html" %}


{% block title %} Login {% endblock %}


{% block body %}
<div class="border border-black m-5 mx-auto p-5" style="text-align: center;max-width: 1000px">
    <form action="/login" method="POST">

      {% if not login_success1 %}
      <div class="alert alert-primary width-80" role="alert">
        User not found. Please Register
      </div>
      {% endif %}

    <h2>Login page</h2>

<div class="input-group m-4 mx-auto" style="max-width:800px;">
  <input type="text" class="form-control" name="user_name" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group m-4 mx-auto" style="max-width:800px;">
  <input type="password" class="form-control" name="pass_word" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
</div>

<button type="submit" class="btn btn-danger">Login</button>
<br> <br>
<a href="/register" style="color: orangered; margin: 5px;">Register here!</a>
</div>

</form>
<!-- <div class="input-group m-4 mx-auto" style="max-width:800px;">
  <input type="text" class="form-control" placeholder="Recipient’s username" aria-label="Recipient’s username" aria-describedby="basic-addon2">
  <span class="input-group-text" id="basic-addon2">@example.com</span>
</div>

<div class="input-group m-4 mx-auto" style="max-width:800px;">
  <label for="basic-url" class="form-label">Your vanity URL</label>
  <div class="input-group">
    <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
  </div>
  
</div>

<div class="input-group m-4 mx-auto" style="max-width:800px;">
  <span class="input-group-text">$</span>
  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
  <span class="input-group-text">.00</span>
</div>

<div class="input-group m-4 mx-auto" style="max-width:800px;">
  <input type="text" class="form-control" placeholder="Username" aria-label="Username">
  <span class="input-group-text">@</span>
  <input type="text" class="form-control" placeholder="Server" aria-label="Server">
</div> -->



{% endblock %}